body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
}

/* Riquadro centrale */
.container {
    text-align: center;
    background: #f8f9fa;     
    padding: 50px 200px 40px;
    border-radius: 15px;      
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    max-width: 1000px;
}


.container h1 {
    font-size: 3em;
    color: #000;
    margin-bottom: 2.5em;
}

/*Riga con i bottoni*/
.btn-row {
    display: flex;
    justify-content: space-between;  
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.btn {
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}


.btn-yes {
    background: #dc3545;
    color: #fff;
}


.btn-no {
    background: #ffffff;
    color: #666;
    border: 2px solid #ddd;
}


.congrats-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ff9a9e, #fecfef);
}


.congrats-container {
    text-align: center;
    color: #000;
}


.yay-title {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.2em;
}


.yay-subtitle {
    font-size: 2em;
    margin-bottom: 1.5em;
}


.video-wrapper {
    max-width: 560px;
    margin: 0 auto 2em;
}

.video-wrapper iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
}


.love-text {
    font-size: 2em;
    margin-bottom: 1.5em;
}


.back-btn {
    background: #ffffff;
    color: #d63384;
    border: 2px solid #d63384;
}

